.editor-button {
    padding: 8px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-block: auto;
    height: 50px;
    width: 50px;

    > * {
        display: flex;
        justify-content: center;
        margin-block: auto;
    }

    &.drop-shadow {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }

    &.opacity-50 {
        opacity: 50%;
    }
}

.add-page {
    margin-block: auto;
}