.image-height-dragger {
  --background-color: rgb(58, 173, 255);

  /* --- Position & size properties --- */
  height: 25px;
  width: 100%;
  margin-block: -12.5px;
  cursor: row-resize;
  z-index: 1;

  /* Touch-action prevents Chrome's touch/pointer gestures from kicking in
  when adjusting the sidebar. Though ilmmind is a Tauri app, I thought it
  would still be a good measure to add this in to make sure the adjustment
  bar can always be adjusted using touch. */
  touch-action: none;

  /* --- UI design-related properties --- */
  /* linear gradient is used to increase the hitbox
  of the adjustment bar whilst not affecting visible width of the bar */
  background: linear-gradient(
    to bottom,
    transparent 42.5%,
    var(--background-color) 0 57.5%,
    transparent 57.5%
  );
  transition: background-color 80ms ease-in;
  background-repeat: no-repeat;
  border-radius: 10px;

  &.is-dragging {
    --background-color: rgb(58, 130, 255);
    background-color: rgba(0, 0, 0, 0.1);
  }
}
