.image-height-dragger {
  height: 2px;
  width: 100%;
  background-color: rgb(58, 173, 255);
  transition: background-color 80ms ease-in;
  cursor: row-resize;
  z-index: 1;
  /* Touch-action prevents Chrome's touch/pointer gestures from kicking in
        when adjusting the sidebar. Though ilmmind is a Tauri app, I thought it
        would still be a good measure to add this in to make sure the sidebar can
        always be adjusted using touch. */
  touch-action: none;

   /* Large width transparent for increasing the hitbox for easier adjustment
      when using touch*/
      border-left-width: 5px;
      border-right-width: 5px;
      border-color: transparent;
      border-style:hidden;

  &.is-dragging {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
