.textbox-wrapper {
  position: absolute;
}

.svg-canvas {
  z-index: var(--svg-canvas-z-index);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.page-number {
  margin: 0;
  padding: 0;
  user-select: none;
}
