.pages-window {
  display: flex;
  justify-content: center;
}

#svg-canvases-wrapper {
  display: grid;
  grid-template-columns: auto;
}

/* For use when viewing two pages next to each other.*/
.double-page {
  grid-template-columns: auto auto;
}

