.pages-window {
  display: flex;
  justify-content:left;
}

#svg-canvases-wrapper {
  display: grid;
  grid-template-columns: auto;
  z-index: var(--svg-canvas-z-index);
}

/* For use when viewing two pages next to each other.*/
.double-page {
  grid-template-columns: auto auto;
}

