.sidebar {
  height: 100%;
  background-color: var(--background);
  overflow-x: visible;
  display: flex;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: var(--sidebar-z-index);
}

.sidebar-content {
  width: 100%;
}

.sidebar-width-dragger {
  height: 100%;
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
  margin-inline: -6px;
  transition: background-color 80ms ease-in;
  cursor: col-resize;
  z-index: 1;
  /* Touch-action prevents Chrome's touch/pointer gestures from kicking in
  when adjusting the sidebar. Though ilmmind is a Tauri app, I thought it
  would still be a good measure to add this in to make sure the sidebar can
  always be adjusted using touch. */
  touch-action: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.is-dragging {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
